* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.landing-frame {
  width: 1080px;
  height: 1920px;
}
.dim {
  width: 1080px;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.landing-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 100%;
  object-fit: cover;
  object-position: 70% 20%;
}
.landing-main {
  position: relative;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.land_logo {
  width: 100px;
  margin-top: 190px;
}
.logo_div p {
  font-size: 20pt;
  margin-top: 44px;
  font-family: Arial, Helvetica, sans-serif;
}
.land_mid {
  position: absolute;
  margin-top: 1030px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}
.land_mid h3 {
  margin-right: 150px;
  font-size: 33pt;
}
.land_mid p {
  margin-left: 180px;
  font-size: 33pt;
  font-weight: 200;
}
.mid_wrapper {
  display: flex;
  justify-content: center;
}
.touch {
  font-size: 26px;
  margin-top: 140px;
  text-align: center;
}

.main-container {
  display: flex;
  width: 1080px;
  height: 1770px;
}

.right-cover,
.left-cover {
  height: 1920px;
  position: absolute;
  width: 540px;
}

.left-img {
  height: 1770px;
  width: 540px;
  background-image: url('./images/main-left-bg.png');
}

.right-img {
  height: 1770px;
  width: 540px;
  background-image: url('./images/main-right-bg.png');
}

.text-container {
  position: absolute;
}

.main-text-1-container {
  position: relative;
  left: 145px;
  top: 400px;
}

.main-text-2-container {
  position: relative;
  top: 480px;
  left: 48%;
}

.main-text-3-container {
  position: relative;
  top: 880px;
  left: 20px;
  width: 323px;
}

.main-text-4-container {
  position: relative;
  top: 721px;
  left: 843px;
  width: 218px;
}

.main-left-arrow {
  padding-top: 20px;
}

.main-right-arrow {
  padding-top: 20px;
  padding-left: 110px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #505151; */
  padding: 10px 20px;
  height: 150px;
  box-sizing: border-box;
  position: relative;
}

.nav-border {
  width: 1046px;
  height: 2px;
  background-color: #ededed;
  position: absolute;
  bottom: 150px;
  z-index: 1;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; /* center align text vertically */
  width: 200px;
  margin: 0 15px;
  cursor: pointer;
  box-sizing: border-box;
  height: 150px;
  z-index: 2;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.logo {
  width: 120px;
  margin: 0 auto;
  position: absolute;
  left: 483px;
  bottom: 15px;
}

.logo img {
  height: 114px;
}
