* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.landing-frame {
  width: 1080px;
  height: 1920px;
}
.dim {
  width: 1080px;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.landing-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 100%;
  object-fit: cover;
  object-position: 70% 20%;
}
.landing-main {
  position: relative;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.land_logo {
  width: 100px;
  margin-top: 190px;
}
.logo_div p {
  font-size: 20pt;
  margin-top: 44px;
  font-family: Arial, Helvetica, sans-serif;
}
.land_mid {
  position: absolute;
  margin-top: 1030px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}
.land_mid h3 {
  margin-right: 150px;
  font-size: 33pt;
}
.land_mid p {
  margin-left: 180px;
  font-size: 33pt;
  font-weight: 200;
}
.mid_wrapper {
  display: flex;
  justify-content: center;
}
.touch {
  font-size: 26px;
  margin-top: 140px;
  text-align: center;
}

/* heritage */
body {
  width: 1080px;
  height: 1920px;
  display: flex;
  flex-direction: column;
  /* margin: 0; */
  background-color: white;
  border: 2px dashed red;
}
.container {
  /* position: relative; */
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.firstbox,
.secondbox,
.thirdbox {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 95% 50%;
}
.firstbox {
  position: absolute;
  width: 100%;
  height: 700px;
  background-image: url(./images/heri1.png);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
.secondbox {
  top: 550px;
  position: absolute;
  width: 100%;
  height: 800px;
  background-image: url(./images/heri2.png);

  clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 85%);
}
.thirdbox {
  top: 1220px;
  position: absolute;
  width: 100%;
  height: 700px;
  background-image: url(./images/heri3.png);

  clip-path: polygon(-10% 0%, 100% 18%, 100% 100%, 0% 100%);
}
.firstbox::before,
.secondbox::before,
.thirdbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}
.firstbox p,
.secondbox p,
.thirdbox p {
  position: relative;
  color: white;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
}
.secondbox p {
  top: 150px;
}
.text1 {
  margin: 150px 0 0 40px;
}
/* 공통 텍스트 속성 */
.text_big {
  font-weight: 800;
  font-size: 90px;
  margin-bottom: 5px;
}
.text_medium {
  font-weight: 400;
  font-size: 90px;
  margin-bottom: 10px;
}
.lt {
  left: 969px;
  bottom: 140px;
  font-size: 90px;
  font-weight: 800;
}
.secondbox {
  display: flex;
}
.text2 {
  position: relative;

  top: 180px;
  left: 126px;
}
.text3 {
  margin: 310px 0 0 40px;
}
